<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    >
  <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h1> Navbar </h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" routerLink="Que1" routerLinkActive="active"><h4>Question 1</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Que2" routerLinkActive="active"><h4>Question 2</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Que3" routerLinkActive="active"><h4>Question 3</h4></a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"><h4>Home</h4></a>            
          </li>
          
          <!-- <button (click)="onLogout()" class="btn btn-primary" style="margin-left: 50px;width: 70px;"> <i class="fa fa-sign-in"  aria-hidden="true"></i> </button> -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="">
    <router-outlet>
      
    </router-outlet>
  </div>


</body>
</html>